<h1 align=center>Property Listing</h1>

<div class="search">  
  <%= search_form_for @q, html: { class:"form-inline" } do |f| %>
    <%= f.search_field :name_cont, placeholder: "Search...", class: "form-control" %>
    <%= f.submit class: "btn btn-success"%>
  <% end -%>
</div>
<div class="container">  
  <div class="col-md-10 col-md-offset-1">
    <div class="index-wrapper">
      <% @props.each do |p| %>
        <div class="row item">          
          <h3 class="item-title"><%= link_to p.name, p%></h3>
          <div class="inline">
            <span style="color: green"><%= p.price%> L</span>
            <span><%= "Bangalore #{p.area}" %></span>
          </div>
          <p class="item-sub-title item-desc"><%= p.address.truncate(100) %></p>
          <p style="opacity: 0.5;" class="time-created_at item-sub-title">Created <%= time_ago_in_words(p.created_at)%> ago</p>          
        </div>          
      <% end %>
    </div>
  </div>  
</div>

<%= link_to "New Listing", new_prop_path %>
