<h2 align="center"><%= @prop.name %></h2>

<div class="well">
  <div class="prod-head">
    <p style="float: left"><span style="color: green"><%= @prop.price %> L</span></p>
    <p style="float: right"><span style="color: blue"><%= @prop.phone %></span></p>
  </div>
  <br>
  <br>
  <div class="prod-det">
    <h4 style="float: right"><%= link_to "Visit Link", @prop.url, target: "_blank"%></p>
    <h4>Area: <%= @prop.area %> Bangalore</h4>    
    <h4>bhk: <%= @prop.bhk %></h4>

  </div>
  <br>
  <h4>Address: <%= @prop.address.truncate(100) %></h4>
</div>

<%= simple_form_for @prop do |f| %>
  <%= f.collection_select :category_id, Category.all, :id, :name, { promp: "Choose a Category"}%>  
  <%= f.button :submit %>
<% end -%>


<div class="btn-group">  
  <%= link_to "Edit", edit_prop_path(@prop), class: 'btn btn-primary'%>
  <%= link_to "Delete", prop_path(@prop), method: :delete, data: { confirm: "Are you sure you want to delete this listing?" },class: 'btn btn-warning'%>
</div>