<div class="container">
  
  <div class="col-md-10 col-md-offset-1">
    <h2 align="center"><%= @prop.name %></h2>
    <div class="inline">
      <p style="float: left">Price: <span style="color: green"><%= @prop.price %> L</span></p>
      <p style="float: right">Phone: <span style="color: blue"><%= @prop.phone %></span></p><br><br><br>
      <br><span><%= "Bangalore #{@prop.area}" %></span>
      <span><%= @prop.bhk %></span>
      <span><%= "#{@prop.sqft} SQFT" %></span>
      
    </div>
    <br><p><%= simple_format(@prop.address) %></p>  
    <% if @prop.category %>
      <p style="opacity: 0.5;" class="time-created_at item-sub-title">Listed in <%= @prop.category.name %></p>
    <% end -%>
    <br>
    <p><%= link_to "Visit Link", @prop.url, target: "_blank", class: "article-btn" %></p>
    <br>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="pull-right">
      <div class="category">
        <%= simple_form_for @prop do |f| %>
          <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a Category"}%>  
          <%= f.button :submit, class: "btn btn-primary"%>
        <% end -%>
      </div>
    </div>
  </div>

</div>

<div class="article-actions">  
  <% if signed_in? && (current_user == @prop.user) %>
    <%= link_to "Edit", edit_prop_path(@prop), class: 'btn btn-primary'%>
    <%= link_to "Delete", prop_path(@prop), method: :delete, data: { confirm: "Are you sure you want to delete this listing?" },class: 'btn btn-warning'%>
  <% end -%>
</div>
<div class="container">
  
    <%= render partial: "comments/template", locals: {commentable: @prop, new_comment: @comment} %>
  
</div>